@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is fonts cario local font */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500;800;900&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --seconderay: #472758;
  --background-end: #FDF8EE;
  --color-alt:#FF7426
}

.image-hero::after {
  position:absolute;
  background-image: url('/public/img/hero-1.png');
  top:110px;
  left:20px;
  background-color: #472758;
  z-index: 100;
  width: 100px; /* Adjust the width and height as per your requirements */
  height: 100px;
}

.active-tab{
  color:#472758;
  border-bottom: 4px solid #FF7426;
}


