@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is fonts cario local font */
@font-face {
  font-family: 'Cairo', sans-serif;
  src: url('../../public/fonts/Cairo-Black.ttf');
}
@font-face {
  font-family: 'carioExtraBold', sans-serif;
  src: url('../../public/fonts/Cairo-ExtraBold.ttf');
}
:root {
  --foreground-rgb: 0, 0, 0;
  --seconderay: #472758;
  --background-end-rgb: 255, 255, 255;
}
